/* Clock */

.face {
  width: 32em;
  height: 32em;
  border-radius: 16em;
  border-style: solid;
  border-width: 0.25em;
  position: absolute;
  top: 2em;
  left: calc(50% - 16em);
  background-color: rgb(224, 224, 224);
}

.second {
  width: 28em;
  height: 0.25em;
  background-image: conic-gradient(
    #ff0000 0deg,
    #ff0000 180deg,
    rgba(0, 0, 0, 0) 180deg
  );
  position: absolute;
  top: 18.125em;
  left: calc(50% - 14em + 0.25em); /*0.25em for face border*/
  transform: rotate(-90deg);
}

.minute {
  width: 28em;
  height: 0.25em;
  background-image: conic-gradient(
    #000000 0deg,
    #000000 180deg,
    rgba(0, 0, 0, 0) 180deg
  );
  position: absolute;
  top: 18.125em;
  left: calc(50% - 14em + 0.25em); /*0.25em for face border*/
  transform: rotate(-90deg);
}

.hour {
  width: 20em;
  height: 0.25em;
  background-image: conic-gradient(
    #000000 0deg,
    #000000 180deg,
    rgba(0, 0, 0, 0) 180deg
  );
  position: absolute;
  top: 18.125em;
  left: calc(50% - 11em + 0.25em); /*0.25em for face border*/
  transform: rotate(-90deg);
}

.point {
  width: 0.25em;
  height: 0.25em;
  background-color: #000000;
  position: absolute;
  right: -0.125em;
  transform: scale(0.707, 0.707) rotate(45deg);
}

.pin {
  width: 1em;
  height: 1em;
  position: absolute;
  left: calc(50% - 0.25em); /*0.25em for face border*/
  top: 17.75em;
  border-radius: 0.5em;
  background-color: rgb(64, 64, 64);
}

.digital {
  background-color: rgb(64, 64, 64);
  color: rgb(0, 255, 0);
  font-family: "Lucida Console";
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 1em;
  text-align: center;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  width: 8em;
  position: relative;
  top: 24em;
}

.clockContainer {
  position: relative;
  height: 40rem;
}