/*planet history*/

img {
    margin: 1rem 0px 1rem 0px;
}

.planets {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: flex-start;
    align-items: center;
    text-align: center;
}

.planets div img {
    width: 20vw;
}