/*Define Font Families*/

@font-face {
    font-family: "Chopsic";
    src: url('../assets/fonts/Chopsic-K6Dp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Font Styles*/

body {
    padding-left: 2rem;
    padding-right: 2rem;
}

#title {
    font-family: "Chopsic";
    color: white;
    background-color: black;
    font-size: 7.5vw;
    text-align: center;
    margin-top: -5%;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 1em;
    box-shadow: 10px 10px 15px 0px gray;
}

.bottom-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0e0c31;
    color: white;
    height: 5%;
    position: absolute;
    bottom: 0.8em;
    right: 1em;
    left: 1em;
    width: calc(100% - 2em);
    align-self: center;
}

#dark-mode {
    background-color: transparent;

}

#info {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-indent: 2em;
    font-size: 1.5rem;
}

/*About us*/

.title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.info {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}
.jamsz {
    margin: auto;
    width: 85vw;
    border-radius: 1em;   
}

#Title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Planet info*/

/* Clock */

.face {
    width: 32em;
    height: 32em;
    border-radius: 16em;
    border-style: solid;
    border-width: 0.25em;
    position: absolute;
    top: 2em;
    left: calc(50% - 16em);
    background-color: rgb(224, 224, 224);
  }
  
  .second {
    width: 28em;
    height: 0.25em;
    background-image: conic-gradient(#FF0000 0deg, #FF0000 180deg, rgba(0, 0, 0, 0) 180deg);
    position: absolute;
    top: 18.125em;
    left: calc(50% - 14em);
    transform: rotate(-90deg);
  }
  
  .minute {
    width: 28em;
    height: 0.25em;
    background-image: conic-gradient(#000000 0deg, #000000 180deg, rgba(0, 0, 0, 0) 180deg);
    position: absolute;
    top: 18.125em;
    left: calc(50% - 14em);
    transform: rotate(-90deg);
  }
  
  .hour {
    width: 20em;
    height: 0.25em;
    background-image: conic-gradient(#000000 0deg, #000000 180deg, rgba(0, 0, 0, 0) 180deg);
    position: absolute;
    top: 18.125em;
    left: calc(50% - 10em);
    transform: rotate(-90deg);
  }
  
  .pin {
    width: 1em;
    height: 1em;
    position: absolute;
    left: calc(50% - 0.5em);
    top: 17.75em;
    border-radius: 0.5em;
    background-color: rgb(64, 64, 64);
  }
  
  .digital {
    background-color: rgb(64, 64, 64);
    color: rgb(0, 255, 0);
    font-family: "Lucida Console";
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
    margin: auto;
    margin-top: 1em;
    width: 8em;
    position: relative;
    top: 24em;
  }




/*planet history*/

  #planets {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    align-items: center;
    margin-left: -15%;
    gap: 1rem;
}

img {
    display: block;
    margin: 1rem 0;
}

.sun {
    width: 30%;
}

.mercury {
    width: 5%;
}

.venus {
    width: 15%;
}

.earth {
    width: 16%;
}

.mars {
    width: 8%;
}

.jupiter {
    width: 20%;
}

.saturn {
    width: 25%;
}

.uranus {
    width: 20%;
}

.neptune {
    width: 19%;
}
